@charset "UTF-8";

html {
	margin-left: 5%;
	margin-right: 5%;
}

.profile {
	text-align: right;
}

.content {
	margin: 20px;
}

.message {
	background: #f0f0f0;
	margin-bottom: 20px;
}

.date {
	padding: 5px;
}

.text {
	padding: 10px;
}

.postedby {
	font-size: xx-small;
}