@charset "UTF-8";

html {
	margin-left: 5%;
	margin-right: 5%;
}

.profile {
	text-align: right;
}

.content {
	margin: 20px;
}

.message {
	border: solid 2px #cacaca;
	border-radius: 1em;
	padding: 10px;
	margin-bottom: 20px;
}

.input_message {
	width: 100%
}

.date {
	padding: 5px;
}

.text {
	padding: 10px;
}

.frame {
	border: solid 2px #cacaca;
	border-radius: 1em;
	padding: 10px;
	margin-bottom: 10px;
}

.target {
	padding: 10px;
}

.taskbar {
	padding: 5px;
	text-align: right;
}

.postedby {
	font-size: xx-small;
}