<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>User</title>
</head>
<body>
  <h1>Home Page</h1>
  <p th:text="${message}"></p>
  <div>
    <form method="post" action="/">
      <textarea name="text" rows="1"></textarea>
      <input type="submit" />
    </form>
  </div>
  <div>
    <table>
      <tr>
        <th>TEXT</th>
        <th>DATE</th>
      </tr>
      <tr th:each="mes : ${messages}">
        <td th:text="${mes.text}"></td>
        <td th:text="${mes.date}"></td>
      </tr>
    </table>
  </div>

  <footer>
    <hr />
    <label class="postedby">Posted by 1.21jigowatts</label>
  </footer>
</body>
</html>