<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>User</title>
</head>
<body>
  <h1>Home Page</h1>
  <p th:text="${message}"></p>
  <div>
    <a href="/search">search</a>
  </div>
  <div>
    <table>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>MAIL</th>
        <th>AGE</th>
        <th></th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.mail}"></td>
        <td th:text="${user.age}"></td>
        <td><a th:href="@{'/edit/' + ${user.id}}">edit</a> <span>|</span>
          <a th:href="@{'/delete/' + ${user.id}}">delete</a></td>
      </tr>
    </table>
    <div>
      <a page:href="${users.getNumber() - 1}">&lt;&lt;preview</a>
       | 
      <a page:href="${users.getNumber() + 1}">next&gt;&gt;</a>
    </div>
  </div>

  <pre th:text="${users}"></pre>

  <footer>
    <hr />
    <label class="postedby">Posted by 1.21jigowatts</label>
  </footer>
</body>
</html>