<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>home</title>
</head>
<body>
  <div th:replace="header :: menu"></div>
  <h1>Home</h1>
  <div class="content">
    <div class="message" th:each="obj:${messages}">
      <div class="date">
        <span th:text="${obj.getStringDate()}"></span> 
        <span th:text="${obj.user.name}"></span>
      </div>
      <div class="text" th:text="${obj.text}"></div>
      <div class="taskbar">
        <a th:href="@{'/message/edit/' + ${obj.id}}">edit</a> <a
          th:href="@{'/message/delete/' + ${obj.id}}">delete</a>
      </div>
    </div>
    <div>
      <form method="post" action="/home" th:object="${formModel}">
        <input type="hidden" name="user" th:value="${currentUser.id}" />
        <textarea class="input_message" name="text" rows="1"></textarea>
        <input type="submit" /> <input type="hidden"
          th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      </form>
    </div>
  </div>
  <div th:replace="footer :: postedby"></div>
</body>
</html>