<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>home</title>
<style>
.content {
	margin: 20px;
}

.message {
	background: #f0f0f0;
	margin-bottom: 20px;
}

.date {
	padding: 5px;
}

.text {
	padding: 10px;
}

.postedby {
	font-size: xx-small;
}
</style>
</head>
<body>
  <h1>Home</h1>
  <div>
    <form action="/logout" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}" />
      <button type="submit">Logout</button>
    </form>
  </div>
  <div class="content">
    <div class="message" th:each="obj:${messages}">
      <div class="date" th:text="${obj.getStringDate()}"></div>
      <div class="text" th:text="${obj.text}"></div>
    </div>
    <div>
      <form method="post" action="/home" th:object="${formModel}">
        <textarea name="text" rows="1"></textarea>
        <input type="submit" />
      </form>
    </div>
  </div>
  <footer>
    <hr />
    <label class="postedby">Posted by 1.21jigowatts</label>
  </footer>
</body>
</html>