<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<title>delete</title>
</head>
<body>
  <div th:replace="header :: menu"></div>
  <h1>Delete Page</h1>
  <div class="content">
    <form method="post" action="/message/delete"
      th:object="${formModel}">
      <input type="hidden" name="id" th:value="*{id}" />
      <div class="frame">
        <span class="target" th:text="*{text}"></span>
      </div>
      <div>
        <input type="submit" value="submit" />
      </div>
      <input type="hidden" th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}" />
    </form>
  </div>
  <div>
    <a href="/">back</a>
  </div>
  <div th:replace="footer :: postedby"></div>
</body>
</html>